extends ../layouts/common.pug

block content
    h1 login
    if errors 
        each error in errors
            .alert.alert-danger= error
    form(action="/auth/login", method="POST")
        .form-group
            label(for="username") Username
            input#username.form-control(name="username", type="text")
        .form-group
            label(for="password") Password
            input#password.form-control(name="password", type="password")
        button Login 