extends ../layouts/common.pug

block content
    h1 Create User Hellossss

    form(action="/users/create", method="POST")
        .form-group
            label(for="username") Username
            input#username.form-control(name="username", type="text")
        .form-group
            label(for="password") Password
            input#password.form-control(name="password", type="password")
        .form-group
            label(for="email") email
            input#email.form-control(name="email", type="text")
        button Create 