extends ../layouts/common.pug

block content
		h1  
			span.mr-3 Users
			a.btn.btn-primary(href="/users/create") New 
		.d-flex.align-items-center
			

			form.ml-auto(action="/users/search", method="GET" class="d-flex")
				input(type="text", name="q", class="form-control")
				button(class="btn btn-primary ml-2") Search 

		table.table
			tr 
				th Username
				th Password
				th Email
				th Create
				th Update
				th Actions
			each user in users
				tr 
					td= user.username
					td= user.password
					td= user.email
					td= user.created_at
					td= user.updated_at
					td
						a.btn.btn-light(href='/users/' + user.id) View
        					

